{% extends 'base.html' %}

{% block content %}

    {% if request.GET.q %}

        <div class="row mb-3">

            <div class="col-12">
                Results for <b>{{ request.GET.q}}</b>
                <hr>
            </div>
        </div>

    {% else %}

        <div class="row mb-3">
            <div class="col-12 col-md-8 mx-auto py-5">
                {% include "search/snippets/search-form.html" %}
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>

    {% endif %}

    <div class="row">
        {% for obj in object_list%}
            <div class="col">
                {% include 'products/snippets/card.html' with instance=obj %}
            </div>
        {% endfor %}
    </div>

{% endblock %}